.tag {
    display: inline-block;
    margin: 2px;
  }
  
.remove-tag {
cursor: pointer;
margin-left: 5px;
}

/* Scrollable autocomplete */
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  /* padding-right: 20px; */
}

.tagify{    
  width: 100%;
  max-width: 700px;
}