{% extends "base.html" %}
{% block scripts %}
    {{super()}}
    <script async type="module" src="../static/js/tags.js"></script>
    <script type="module" src="../static/js/scripts.js"></script>
{% endblock %}
<div>
{%block page_title %}
<div style="text-align: center;">
<h4 style="text-align:center;">ACCESS New User Recommendation System</h4>
</div>
{% endblock %}
{% block app_content %}
<div style="text-align: center;">
    Checking Page {{pageName}}

    {% if messages|length > 0 %}
        <div>
            There are some errors:
        </div>    
        {% for msg in messages %}
            <div>
                {{ msg }}
            </div>
        {%endfor%}
    {%else%}
        <div>
            There are no errors
        </div>
    {%endif%}
</div>

{%endblock%}