
{% extends "base.html" %}
{% block scripts %}
    {{super()}}
    <script async type="module" src="../static/js/tags.js"></script>
    <script type="module" src="../static/js/scripts.js"></script>
{% endblock %}

{%block page_title %}
<h4 style="text-align:center;">ACCESS New User Recommendation System</h4>
{% endblock %}
{% block app_content %}
<form class="needs-validation bg-light" id="recommendation-form"  novalidate onsubmit="return false">
    <div class="">
        <label style="font-size: 0.8em;"><span style="color:#FF0000;">Disclaimer: </span>The current system is a proof of concept prototype.  Current recommendations could be based upon potentially incomplete or inaccurate data and therefore produce non-optimal results. 
            The following questions use the term "supercomputer" to refer to any substantial computational system or computing resource such as a computing cluster, cloud platform, large server system or high performance computer.</label>   
        </div>
    <div style="color:#FF0000;">
        <label style="font-size: 0.8em;">Required questions are marked with an asterisk (*)</label>
    </div> 
        <!-- HPC USE -->
    
    <div class="form-group">
        <label>Have you used a supercomputer before? <span style="color:#FF0000;">*</span></label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hpc-use" id="has-used-hpc" value="1" required>
            <label class="form-check-label" for="has-used-hpc">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hpc-use" id="has-not-used-hpc" value="0" required>
            <label class="form-check-label" for="has-not-used-hpc">No</label>
        </div>
    </div>
        <!-- Familiarity with ACCESS HPCs -->
    <div class="form-group hide-hpc d-none">
        <label > Are you familiar with any of the resource providers available to ACCESS?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="access-familiarity" id="is-familiar" value="1">
            <label class="form-check-label" for="is-familiar">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="access-familiarity" id="is-not-familiar" value="0">
            <label class="form-check-label" for="is-not-familiar">No</label>
        </div>
    </div>
        <!-- Previously used ACCESS HPCs -->
    <div class="form-group hide-hpc d-none" id="access-rps">
        <label >Select the Supercomupters you have experience with:</label>
        {% for rp in rps %}
        <div class="form-check">
            <input class="form-check-input used-rps" name="used-hpc" type="checkbox" id="{{rp.name}}-option-rp" value="{{rp.name}}">
            <label class="form-check-label" for="{{rp.name}}-option-rp">{{rp.name}}</label>
        </div>
        {%endfor%}
    </div>
        <!-- Experience using HPC -->
    <div class="form-group hide-hpc d-none">
        <label >How much experience do you have with Supercomputers?</label>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="hpc-experience" id="one-year" value="0-1 year">
            <label class="form-check-label" for="one-year">I have a small amount of experience using certain HPCs (0-1 year)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="hpc-experience" id="three-years" value="1-3 years">
            <label class="form-check-label" for="three-years">I comfortable using any HPC (1-3 years)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="hpc-experience" id="four-years" value="4+ years">
            <label class="form-check-label" for="four-years">I am an expert when it comes to using HPCs (4 or more years)</label>
        </div>
    </div>
    <!-- GUI Use -->
    <div class="form-group">
        <label>Do you need to use a resource that has a user-friendly interface?
            <button type="button" class="btn btn-link" data-toggle="tooltip" id ="UI-tip" title="A user interface (UI) allows users to control complex operations via user-friendly tools rather than the command line. Recommended for new users.">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                </button>
        </label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gui-needed" id="need-gui" value="1">
            <label class="form-check-label" for="need-gui">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gui-needed" id="no-need-gui" value="0">
            <label class="form-check-label" for="no-need-gui">No</label>
        </div>
    </div>
    <!-- GUI Familiarity -->
    <div class="form-group hide-gui d-none">
    <label>Select any UIs you are comfortable using:</label>
    {% for gui in guis %}
        <div class="form-check">
            <input class="form-check-input used-guis" name="used-gui" type="checkbox" id="{{gui.gui_name}}-option-rp" value="{{gui.gui_name}}">
            <label class="form-check-label" for="{{gui.gui_name}}-option-rp">{{gui.gui_name}}</label>
        </div>
        {%endfor%}
    </div>
        <!-- Field of Research -->
    <div class="form-group">
        <label for="">What is your field of research?</label>
        <input class="" type="text" id="field-text-input">
    </div>
    <div class="form-group hide-add-field d-none">
        <label for="field-add-tag">Add other research fields: </label>
        <input class="" id="field-add-tag" type="text">
    </div>
        <!-- Class of job -->
    <div class="form-group">
        <label for="">What class of job are you looking to perform on the Supercomputer?</label>
        <input class="" type="text" id="job-type-text-input">
    </div>
    <div class="form-group hide-add-job d-none">
        <label for="">Add other job classes: </label>
        <input class="" id="job-type-add-tag" type="text">
    </div>
        <!-- Data Storage -->
    <div class="form-group">
        <label >Do you need to store any data on the Supercomputer? <span style="color:#FF0000;">*</span></label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="storage" id="storage-needed" value="1" required>
            <label class="form-check-label" for="storage-needed">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="storage" id="storage-not-needed" value="0" required>
            <label class="form-check-label" for="storage-not-needed">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="storage" id="storage-unsure" value="2" required>
            <label class="form-check-label" for="storage-unsure">I don't know</label> 
        </div>
    </div>
        <!-- File count -->
    <div class="form-group hide-data d-none">
        <label for="file-count">How many files?</label>
        <input class="form-control" type="number" id="file-count" name="num-files" >
    </div>
        <!-- Long-Term Storage -->
    <div class="form-group hide-data d-none">
        <label >Approximately how much long-term storage do you think you will need?
            <button type="button" class="btn btn-link" data-toggle="tooltip" id ="long-term-storage-tip" title="Most resources allow a certain amount of files to be stored throughout the entire duration of an allocation in the home/project storage.">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </button>
        </label>
        <br>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="long-term-storage" id="one-tb" value="less-than-1">
            <label class="form-check-label" for="one-tb">Less than 1 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="long-term-storage" id="ten-tb" value="1-10">
            <label class="form-check-label" for="ten-tb">1 TB to 10 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="long-term-storage" id="more-tb" value="more-than-10">
            <label class="form-check-label" for="more-tb">More than 10 TB</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="long-term-storage" id="unsure-tb" value="unsure">
            <label class="form-check-label" for="unsure-tb">I don't know</label>
        </div>
    </div>
        <!-- Temp Storage -->
    <div class="form-group hide-data d-none">
        <label >Approximately how much temporary storage do you think you will need (inputs and outputs)?
            <button type="button" class="btn btn-link" data-toggle="tooltip" id ="temp-storage-tip" title="Most resources regularly purge temporary files. Read about scratch storage to learn more.">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </button>
        </label>
        <br>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="temp-storage" id="one-tb-temp" value="less-than-1">
            <label class="form-check-label" for="one-tb-temp">Less than 1 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="temp-storage" id="ten-tb-temp" value="1-10">
            <label class="form-check-label" for="ten-tb-temp">1 TB to 10 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="temp-storage" id="more-tb-temp" value="more-than-10">
            <label class="form-check-label" for="more-tb-temp">More than 10 TB</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="temp-storage" id="unsure-temp" value="unsure">
            <label class="form-check-label" for="unsure-temp">I don't know</label>
        </div>
    </div>
        <!-- Memory (RAM) -->
    <div class="form-group">
        <label >Approximately how much memory (RAM) does your job require?</label>
        <br>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="sixtyfour-gb" value="less-than-64">
            <label class="form-check-label" for="sixtyfour-gb">Less than 64 GB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="five-twelve-gb" value="64-512">
            <label class="form-check-label" for="five-twelve-gb">64 GB to 512 GB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="more-gb" value="more-than-512">
            <label class="form-check-label" for="more-gb">More than 512 GB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="unsure-gb" value="unsure">
            <label class="form-check-label" for="unsure-gb">I don't know</label>
        </div>
    </div>
        <!-- Software and Libraries -->
    <div class="form-group">
        <label for="software-text-input">Which scientific libraries or software packages do you need for your job?</label>
        <input class="" type="text" id="software-text-input" name="software">
    </div>
    <div class="form-group hide-add-software d-none">
        <label for="software-libraries-add-tag">Add other libaries and software tags:</label>
        <input id="software-libraries-add-tag" class="" type="text">
    </div>
        <!-- Graphical -->
    <div class="form-group">
        <label >Is there a graphical component to your jobs?
            <button type="button" display="inline-block" class="btn btn-link" data-toggle="tooltip" id ="graphical-tip" title="i.e. image generation, simulation, etc.">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </button>
        </label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graphics" id="graphical" value="1">
            <label class="form-check-label" for="graphical">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graphics" id="not-graphical" value="0">
            <label class="form-check-label" for="not-graphical">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graphics" id="unsure-graphical" value="2">
            <label class="form-check-label" for="unsure-graphical">I don't know</label>
        </div>
    </div>
        <!-- CPU GPU parallel -->
    <div class="form-group">
        <label >Do you need CPU and GPU nodes running in parallel?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="cpu-gpu-parallel" id="cpu-gpu-parallel-needed" value="1">
            <label class="form-check-label" for="cpu-gpu-parallel-needed">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="cpu-gpu-parallel" id="cpu-gpu-parallel-not-needed" value="0">
            <label class="form-check-label" for="cpu-gpu-parallel-not-needed">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="cpu-gpu-parallel" id="cpu-gpu-parallel-unsure" value="2">
            <label class="form-check-label" for="cpu-gpu-parallel-unsure">I don't know</label>
        </div>
    </div>
        <!-- Always Running -->
    <div class="form-group">
        <label >Does your job need to be running at all times?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="job-run" id="always-running" value="1">
            <label class="form-check-label" for="always-running">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="job-run" id="not-always-running" value="0">
            <label class="form-check-label" for="not-always-running">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="job-run" id="unsure-running" value="2">
            <label class="form-check-label" for="unsure-running">I don't know</label>
        </div>
    </div>
        <!-- Virtual Machine -->
    <div class="form-group">
        <label >Does your program need to run on a Virtual machine?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vm" id="vm-needed" value="1">
            <label class="form-check-label" for="vm-needed">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vm" id="vm-not-needed" value="0">
            <label class="form-check-label" for="vm-not-needed">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vm" id="vm-unsure" value="2">
            <label class="form-check-label" for="vm-unsure">I don't know</label>
        </div>
    </div>

    <!-- Submit button trigger modal-->
    <button type="submit" class="btn btn-primary" id="submit-form">Submit</button>
</form>
    {%include 'submitModal.html'%}
{%endblock%}