  <!-- Submit Modal-->
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Recommendations:</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="box" id ="box1">
              <div class="box-content">
              <h3 class="box-title" id='box1-name'></h3>
              <div class="tags-container"></div>
              </div>
              <span class="caret"><i class="fas fa-caret-down"></i></span>
            </div>
            <div class="box" id="box2">
              <div class="box-content">
              <h3 class="box-title" id='box2-name'></h3>
              <div class="tags-container"></div>
              </div>
              <span class="caret"><i class="fas fa-caret-down"></i></span>
              
            </div>
            <div class="box" id='box3'>
              <div class="box-content">
              <h3 class="box-title" id='box3-name'></h3>
              <div class="tags-container"></div>
              </div>
              <span class="caret"><i class="fas fa-caret-down"></i></span>
            </div>
      <div class="score-container">
        <p class="score-title">Score</p>
          <div class="score-column">
            <span class="score" id='score1'></span>
            <span class="score" id="score2"></span>
            <span class="score" id="score3"></span>
          </div>
      </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>