  <!-- Submit Modal-->
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Recommendations:</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <div class="box d-none" id ="box0">
              <div class="box-content">
              <h3 class="box-title" id='box0-name'></h3>
              <div class="tags-container" id='box0-suitability'></div>
              </div>
              <span class="caret"><i class="fas fa-caret-down"></i></span>
            </div>
            <div class="box d-none" id="box1">
              <div class="box-content">
              <h3 class="box-title" id='box1-name'></h3>
              <div class="tags-container" id='box1-suitability'></div>
              </div>
              <span class="caret"><i class="fas fa-caret-down"></i></span>
              
            </div>
            <div class="box d-none" id='box2'>
              <div class="box-content">
              <h3 class="box-title" id='box2-name'></h3>
              <div class="tags-container" id ='box2-suitability'></div>
              </div>
              <span class="caret"><i class="fas fa-caret-down"></i></span>
            </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>